# GCB535: Data Parsing with Tidyverse

## Instructions

In this *adventure*, you are going to work with tidyverse to practice formatting, manipulating, and summarizing data. For that, please load the tidyverse library (note that every time you start your notebook, you'll have to reload libraries):

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

We're going to work with the COVID-19 state-wise data that you've been making various plots with over the last few days, and we'll convert the date to a "computer parsable" version of date.

Execute the commands below:

In [17]:
data <- read_csv(file="all-states-history.csv")
data_tbl <- tibble(data)

Rows: 19765 Columns: 41
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (1): state
dbl  (39): death, deathConfirmed, deathIncrease, deathProbable, hospitalized...
date  (1): date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

For Q1, Q2, Q3, and Q4,  groups will select their specific state to focus their analysis on:

| Group | State        | State Nickname       | State Code |
|-------|--------------|----------------------|------------|
| 1     | Pennsylvania | Keystone State       | PA         |
| 2     | California   | Golden State         | CA         |
| 3     | New York     | Empire State         | NY         |
| 4     | Louisiana    | Pelican State        | LA         |
| 5     | South Dakota | Mount Rushmore State | SD         |

During the breakout session, work as a group to complete as many of the tasks as you have time for!

#######################

Let's compare the frequency of covid mortality for your assigned date for:
   - The "Holiday" wave which I will roughly define here as betwee 10-15-2020 and 1-15-2021
   - The "Pre Holiday" wave which I define here as records earlier than 10-15-2020

**Q1.** Create a variable named `pre` which extracts:

- entries from your state only
- obtains entries earlier than 10-15-2020

Provide (and execute) your code below:

  date       state death deathConfirmed deathIncrease deathProbable
1 2020-10-14 PA    8411  NA             27            NA
2 2020-10-13 PA    8384  NA             16            NA
3 2020-10-12 PA    8368  NA             18            NA
4 2020-10-11 PA    8350  NA              6            NA
5 2020-10-10 PA    8344  NA             36            NA
6 2020-10-09 PA    8308  NA              9            NA
  hospitalized hospitalizedCumulative hospitalizedCurrently
1 NA           NA                     749
2 NA           NA                     773
3 NA           NA                     725
4 NA           NA                     706
5 NA           NA                     732
6 NA           NA                     734
  hospitalizedIncrease ⋯ totalTestResults totalTestResultsIncrease
1 0                    ⋯ 3506849          30438
2 0                    ⋯ 3476411          35600
3 0                    ⋯ 3440811          24648
4 0                    ⋯ 3416163          30831
5 0                    ⋯ 3385332          48695
6 0                    ⋯ 3336637          40270
  totalTestsAntibody totalTestsAntigen totalTestsPeopleAntibody
1 NA                 NA                NA
2 NA                 NA                NA
3 NA                 NA                NA
4 NA                 NA                NA
5 NA                 NA                NA
6 NA                 NA                NA
  totalTestsPeopleAntigen totalTestsPeopleViral totalTestsPeopleViralIncrease
1 NA                      2244079               15733
2 NA                      2228346               16572
3 NA                      2211774               12048
4 NA                      2199726               15324
5 NA                      2184402               21316
6 NA                      2163086               15920
  totalTestsViral totalTestsViralIncrease
1 NA              0
2 NA              0
3 NA              0
4 NA              0
5 NA              0
6 NA              0

**Q2.** Create a variable named `post` which extracts:
- entires from your state only
- obtains entries between 10-15-2020 and 01-15-2021

Provide (and execute) your code below:

  date       state death deathConfirmed deathIncrease deathProbable
1 2021-01-14 PA    18742 NA             313           NA
2 2021-01-13 PA    18429 NA             349           NA
3 2021-01-12 PA    18080 NA             227           NA
4 2021-01-11 PA    17853 NA              83           NA
5 2021-01-10 PA    17770 NA             103           NA
6 2021-01-09 PA    17667 NA             273           NA
  hospitalized hospitalizedCumulative hospitalizedCurrently
1 NA           NA                     4980
2 NA           NA                     5069
3 NA           NA                     5204
4 NA           NA                     5232
5 NA           NA                     5201
6 NA           NA                     5298
  hospitalizedIncrease ⋯ totalTestResults totalTestResultsIncrease
1 0                    ⋯ 8307622          52579
2 0                    ⋯ 8255043          56546
3 0                    ⋯ 8198497          52516
4 0                    ⋯ 8145981          39353
5 0                    ⋯ 8106628          58042
6 0                    ⋯ 8048586          72839
  totalTestsAntibody totalTestsAntigen totalTestsPeopleAntibody
1 NA                 NA                NA
2 NA                 NA                NA
3 NA                 NA                NA
4 NA                 NA                NA
5 NA                 NA                NA
6 NA                 NA                NA
  totalTestsPeopleAntigen totalTestsPeopleViral totalTestsPeopleViralIncrease
1 NA                      4089675               17172
2 NA                      4072503               19227
3 NA                      4053276               16573
4 NA                      4036703               15727
5 NA                      4020976               20448
6 NA                      4000528               23463
  totalTestsViral totalTestsViralIncrease
1 NA              0
2 NA              0
3 NA              0
4 NA              0
5 NA              0
6 NA              0

**Q3.** Take the code you just made and extend it to summarize the **mean number of mortalities per day** (i.e., column named `deathIncrease`), for

- the "pre" Holiday time period
- the Holiday wave time period

If you copy the code you created for Q1 and Q2, you'll overwrite "pre" and "post". **This is completely fine in this case**. 

The point of this exercise is for you to get used to extend a little bit of code *modestly*, run it, check the output, etc.

Provide (and execute) your code below:

  mort_
1 37.21681

  mort_
1 113.2967

**Q4.** Using `pre` and `post`, use simple R commands to calculate:

- the difference between `post` and `pre` (i.e., post minus pre)
- the ratio of post to pre (i.e., `post / pre`)
- the difference above per 100K people: `1e5 * ((post - pre) / state_size )`

For ease I've placed the sizes of the states in question here in the table below.

Provide (and execute) your code below:

|  |
| :-- |

#######################

In the questions above, did this one state at a time. But now, let's unlock *the power of R* -- let's generate these summaries for EVERY STATE.

**Q5.** Create a variable named `pre_allstates` which extracts

- entries for ALL states
- obtains entries earlier than 10\-15\-2020
- Summarizes the  mean number of mortalities per day **by state**

You can and should reuse the code you used for **Q1 and Q3** here \(plus a new variable name\)! You can do this with a single line change in code.

Provide (and execute) your code below:

  state mort_pre
1 AK     0.2869955
2 AL    12.1891892
3 AR     7.3273543
4 AS     0.0000000
5 AZ    25.6533333
6 CA    73.9511111

**Q6.** Create a variable named `post_allstates` which extracts

- entires from your state only
- obtains entries between 10\-15\-2020 and 01\-15\-2021
- Summarizes the  mean number of mortalities per day **by state**

You can and should reuse the code you used for **Q2** **and Q3** here \(plus a new variable name\)! You can do this with a single line change in code. 

Provide (and execute) your code below:

  state mort_post
1 AK      1.791209
2 AL     35.043956
3 AR     28.384615
4 AS      0.000000
5 AZ     55.670330
6 CA    163.703297

**Q7.** Create a new variable called `comp_allstates` that:
- joins (full) `pre_allstates` and `post_allstates` by "state" (i.e., the state abbreviation)

Provide (and execute) your code below:

**Q8.** Create summaries as you did in **Q4** for ALL states:
- the difference between post and pre (i.e., `post - pre`)
- the ratio of post to pre (i.e., `post / pre`)

(hint: mutate!) Provide (and execute) your code below:

   state mort_pre     mort_post
1  AK    2.869955e-01   1.79120879
2  AL    1.218919e+01  35.04395604
3  AR    7.327354e+00  28.38461538
4  AS    0.000000e+00   0.00000000
5  AZ    2.565333e+01  55.67032967
6  CA    7.395111e+01 163.70329670
7  CO    9.600000e+00  34.65934066
8  CT    2.043694e+01  22.12087912
9  DC    2.848214e+00   2.24175824
10 DE    2.959641e+00   3.67032967
11 FL    6.072308e+01  88.45054945
12 GA    3.320000e+01  49.26373626
13 GU    2.863850e-01   0.68131868
14 HI    7.688889e-01   1.48351648
15 IA    6.713004e+00  30.16483516
16 ID    2.306306e+00  11.51648352
17 IL    4.142222e+01 113.74725275
18 IN    1.660606e+01  58.65934066
19 KS    3.757848e+00  27.65934066
20 KY    5.721973e+00  19.18681319
21 LA    2.565315e+01  26.07692308
22 MA    3.613109e+01  41.32967033
23 MD    1.795536e+01  26.60439560
24 ME    6.441441e-01   3.48351648
25 MI    3.187719e+01  79.21978022
26 MN    9.775785e+00  39.75824176
27 MO    1.090090e+01  41.30769231
28 MP    9.389671e-03   0.00000000
29 MS    1.414414e+01  24.21978022
30 MT    1.013514e+00   9.30769231
31 NC    1.713778e+01  43.41758242
32 ND    1.666667e+00  10.95604396
33 NE    2.168724e+00  13.98901099
34 NH    2.035556e+00   4.76923077
35 NJ    6.528629e+01  44.57142857
36 NM    4.111607e+00  21.03296703
37 NV    7.549107e+00  21.53846154
38 NY    1.127974e+02  74.29670330
39 OH    2.246875e+01  54.41758242
40 OK    5.099099e+00  19.10989011
41 OR    2.688889e+00  12.08791209
42 PA    3.721681e+01 113.29670330
43 PR    3.483568e+00  10.28571429
44 RI    5.030702e+00   9.30769231
45 SC    1.596889e+01  25.57142857
46 SD    1.310811e+00  14.39560440
47 TN    1.262500e+01  58.98901099
48 TX    7.396903e+01 156.46153846
49 UT    2.373874e+00  10.23076923
50 VA    1.290458e+01  24.59340659
51 VI    9.389671e-02   0.04395604
52 VT    2.566372e-01   1.14285714
53 WA    8.010870e+00  17.76923077
54 WI    6.845133e+00  45.74725275
55 WV    1.753363e+00  14.38461538
56 WY    2.500000e-01   5.10989011

**Q9.** In your directory, we have provided you a file of state population sizes from the 2010 census: 

**2010_census_bystate.txt**

- load this data set into R. This file has a header, separated by the tab character, i.e., "\t".
- merge this with the variable **comp_allstates** you created in **Q7**
- calculate the difference above per 100K people: `1e5 * ((post - pre) / state_size )` for all states

(hint: mutate!) Provide (and execute) your code below:

Rows: 56 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): state_name, state
dbl (1): population_2010

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   state mort_pre     mort_post    state_name              population_2010
1  AK    2.869955e-01   1.79120879 Alaska                    710231
2  AL    1.218919e+01  35.04395604 Alabama                  4779736
3  AR    7.327354e+00  28.38461538 Arkansas                 2915918
4  AS    0.000000e+00   0.00000000 American Samoa             55519
5  AZ    2.565333e+01  55.67032967 Arizona                  6392017
6  CA    7.395111e+01 163.70329670 California              37253956
7  CO    9.600000e+00  34.65934066 Colorado                 5029196
8  CT    2.043694e+01  22.12087912 Connecticut              3574097
9  DC    2.848214e+00   2.24175824 District of Columbia      601723
10 DE    2.959641e+00   3.67032967 Delaware                  897934
11 FL    6.072308e+01  88.45054945 Florida                 18801310
12 GA    3.320000e+01  49.26373626 Georgia                  9687653
13 GU    2.863850e-01   0.68131868 Guam                      159358
14 HI    7.688889e-01   1.48351648 Hawaii                   1360301
15 IA    6.713004e+00  30.16483516 Iowa                     3046355
16 ID    2.306306e+00  11.51648352 Idaho                    1567582
17 IL    4.142222e+01 113.74725275 Illinois                12830632
18 IN    1.660606e+01  58.65934066 Indiana                  6483802
19 KS    3.757848e+00  27.65934066 Kansas                   2853118
20 KY    5.721973e+00  19.18681319 Kentucky                 4339367
21 LA    2.565315e+01  26.07692308 Louisiana                4533372
22 MA    3.613109e+01  41.32967033 Massachusetts            6547629
23 MD    1.795536e+01  26.60439560 Maryland                 5773552
24 ME    6.441441e-01   3.48351648 Maine                    1328361
25 MI    3.187719e+01  79.21978022 Michigan                 9883640
26 MN    9.775785e+00  39.75824176 Minnesota                5303925
27 MO    1.090090e+01  41.30769231 Missouri                 5988927
28 MP    9.389671e-03   0.00000000 Northern Mariana Islans    53883
29 MS    1.414414e+01  24.21978022 Mississippi              2967297
30 MT    1.013514e+00   9.30769231 Montana                   989415
31 NC    1.713778e+01  43.41758242 North Carolina           9535483
32 ND    1.666667e+00  10.95604396 North Dakota              672591
33 NE    2.168724e+00  13.98901099 Nebraska                 1826341
34 NH    2.035556e+00   4.76923077 New Hampshire            1316470
35 NJ    6.528629e+01  44.57142857 New Jersey               8791894
36 NM    4.111607e+00  21.03296703 New Mexico               2059179
37 NV    7.549107e+00  21.53846154 Nevada                   2700551
38 NY    1.127974e+02  74.29670330 New York                19378102
39 OH    2.246875e+01  54.41758242 Ohio                    11536504
40 OK    5.099099e+00  19.10989011 Oklahoma                 3751351
41 OR    2.688889e+00  12.08791209 Oregon                   3831074
42 PA    3.721681e+01 113.29670330 Pennsylvania            12702379
43 PR    3.483568e+00  10.28571429 Puerto Rico              3725789
44 RI    5.030702e+00   9.30769231 Rhode Island             1052567
45 SC    1.596889e+01  25.57142857 South Carolina           4625364
46 SD    1.310811e+00  14.39560440 South Dakota              814180
47 TN    1.262500e+01  58.98901099 Tennessee                6346105
48 TX    7.396903e+01 156.46153846 Texas                   25145561
49 UT    2.373874e+00  10.23076923 Utah                     2763885
50 VA    1.290458e+01  24.59340659 Virginia                 8001024
51 VI    9.389671e-02   0.04395604 US Virgin Islands         106405
52 VT    2.566372e-01   1.14285714 Vermont                   625741
53 WA    8.010870e+00  17.76923077 Washington               6724540
54 WI    6.845133e+00  45.74725275 Wisconsin                5686986
55 WV    1.753363e+00  14.38461538 West Virginia            1852994
56 WY    2.500000e-01   5.10989011 Wyoming                   563626
   dif
1   0.211792118
2   0.478159607
3   0.722148604
4   0.000000000
5   0.469601322
6   0.240919879
7   0.498277273
8   0.047115179
9  -0.100786582
10  0.079147066
11  0.147476280
12  0.165816594
13  0.247827975
14  0.052534520
15  0.769832494
16  0.587540378
17  0.563690320
18  0.648589825
19  0.837732373
20  0.310295029
21  0.009347786
22  0.079396438
23  0.149804461
24  0.213750053
25  0.478999511
26  0.565288103
27  0.507716848
28 -0.017426037
29  0.339556036
30  0.838291192
31  0.275600141
32  1.381133154
33  0.647211376
34  0.207651919
35 -0.235613188
36  0.821752742
37  0.518018523
38 -0.198681241
39  0.276936864
40  0.373486539
41  0.245336509
42  0.598942050
43  0.182569282
44  0.406339031
45  0.207606140
46  1.607113118
47  0.730590039
48  0.328059938
49  0.284269981
50  0.146091631
51 -0.046934514
52  0.141627283
53  0.145115669
54  0.684055139
55  0.681667191
56  0.862254422

Congrats! You've just made your first tidyverse data parsing job... and maybe even a pipeline! As good habit, report the session details of R you used.

Execute the below command:

In [30]:
sessionInfo()

R version 4.2.1 (2022-06-23)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas-pthread/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/openblas-pthread/liblapack.so.3

locale:
 [1] LC_CTYPE=C.UTF-8       LC_NUMERIC=C           LC_TIME=C.UTF-8
 [4] LC_COLLATE=C.UTF-8     LC_MONETARY=C.UTF-8    LC_MESSAGES=C.UTF-8
 [7] LC_PAPER=C.UTF-8       LC_NAME=C              LC_ADDRESS=C
[10] LC_TELEPHONE=C         LC_MEASUREMENT=C.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] forcats_0.5.2   stringr_1.4.1   dplyr_1.0.10    purrr_0.3.4
[5] readr_2.1.2     tidyr_1.2.1     tibble_3.1.7    ggplot2_3.3.6
[9] tidyverse_1.3.1

loaded via a namespace (and not attached):
 [1] pbdZMQ_0.3-7     tidyselect_1.1.2 repr_1.1.4       haven_2.5.1
 [5] colorspace_2.0-3 vctrs_0.4.1      generics_0.1.3   htmltools_0.5.3
 [9] base64enc_0.1-3  utf8_1.2.2       rlang_1.0.5      pillar_1.8.1
[13] glue_1.6.2       withr_2.5.0      DBI_1.1.3        bit64_4.0.5
[17] dbplyr_2.2.1     modelr_0.1.9     readxl_1.4.1     uuid_1.1-0
[21] lifecycle_1.0.2  munsell_0.5.0    gtable_0.3.1     cellranger_1.1.0
[25] rvest_1.0.3      evaluate_0.16    tzdb_0.3.0       fastmap_1.1.0
[29] parallel_4.2.1   fansi_1.0.3      broom_1.0.1      IRdisplay_1.1
[33] backports_1.4.1  scales_1.2.1     IRkernel_1.3     vroom_1.5.7
[37] jsonlite_1.8.0   bit_4.0.4        fs_1.5.2         hms_1.1.2
[41] digest_0.6.29    stringi_1.7.8    getPass_0.2-2    grid_4.2.1
[45] cli_3.4.0        tools_4.2.1      magrittr_2.0.3   crayon_1.5.1
[49] pkgconfig_2.0.3  ellipsis_0.3.2   xml2_1.3.3       reprex_2.0.2
[53] lubridate_1.8.0  rstudioapi_0.14  assertthat_0.2.1 httr_1.4.4
[57] R6_2.5.1         compiler_4.2.1