# Prelab: ggplot 1

**Filtering with AND (&), OR (|) and %in% operators**

In many cases we would like to use logical operators to perform our filtering.

Here we will do some addtional filtering to the dataset used in R_III in class.

In [11]:
library(tidyverse)
data = read.table("Iditarod.txt",header=T,sep="\t")
head(data)
unique(data$Checkpoint)

  Number Name            Status  Country        Checkpoint Latitude Longitude
1 2      Ryan Redington  Veteran United States  Fairbanks  64.8321  -147.813
2 3      Otto Balogh     Rookie  Hungary        Fairbanks  64.8321  -147.813
3 4      Misha Wiljes    Rookie  Czech Republic Fairbanks  64.8321  -147.813
4 5      Cody Strathe    Veteran United States  Fairbanks  64.8321  -147.813
5 6      Linwood Fiedler Veteran United States  Fairbanks  64.8321  -147.813
6 7      Laura Neese     Rookie  United States  Fairbanks  64.8321  -147.813
  Distance Time Speed Arrival.Dogs Elapsed.Time Departure.Dogs
1 NA       0    NA    NA            0           16
2 NA       0    NA    NA           NA           NA
3 NA       0    NA    NA            0           15
4 NA       0    NA    NA            0           16
5 NA       0    NA    NA            0           16
6 NA       0    NA    NA            0           16
  Departure           Arrival
1 2017-03-06 11:00:00 NA
2 NA                  NA
3 2017-03-06 11:04:00 NA
4 2017-03-06 11:06:00 NA
5 2017-03-06 11:08:00 NA
6 2017-03-06 11:10:00 NA

 [1] "Fairbanks"      "Nenana"         "Manley"         "Tanana"
 [5] "Ruby"           "Galena"         "Huslia"         "Koyukuk"
 [9] "Nulato"         "Kaltag"         "Unalakleet"     "Shaktoolik"
[13] "Koyuk"          "Elim"           "White Mountain" "Safety"
[17] "Nome"

Now let's say that we would like to take only Veteran Status with Nenana Checkpoint (using a single filter).

We can use the & operator to achive that.

In [10]:
data_filter <- data %>% filter((Status == 'Veteran')&(Checkpoint == 'Nenana'))

Now what is we want more that one checkpoint? We can add the OR (|) operator to the previous line of code:

In [13]:
data_filter <- data %>% filter((Status == 'Veteran')&((Checkpoint == 'Nenana')|(Checkpoint == 'Nulato')))

**Note the correct location of the parentheses!**

It is clear that for more than 2-3 Checkpoint this code will become long and not very efficient.

A more straightforward phrasing would be to ask for all the checkpoints within a specific list. R has a oprerator %in% that can be used to achive this using the code below (do not run this code as it is not a complete line).

In [0]:
Checkpoint %in% c('Tanana','Huslia','Unalakleet','Elim')

**Q1** Replace the OR operators in the previous line to use %in% and select all lines with either one of the four checkpoints above